doctype 5
html(lang="en")
   head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
   body
      block content
