extends layout

block head
   script(src="/socket.io/socket.io.js")
   script.
      var socket = io.connect('http://raspy.local:9999');
      socket.on('connect', function(data){
         socket.emit('remote');
      });
   
      socket.on("loading", function(data){
      });  
   
      function playVideo() {
         socket.emit('video',{action:"play", video_id:"2REkZG-dhHc"});
      }
      function pauseVideo() {
         socket.emit('video',{action:"pause"});
      }
      function quitVideo() {
         socket.emit('video',{action:"quit"});
      }

block content
   h1= title
   p Welcome to #{title} noob
   input#play.button(type='button', value='Play' onclick="playVideo();")
   input#pause.button(type='button', value='Pause' onclick="pauseVideo();")
   input#stop.button(type='button', value='Stop' onclick="quitVideo();")
