extends layout

block head
   script(src="/socket.io/socket.io.js")
   script.
      var socket = io.connect('http://raspy.local:9999');
      socket.on('connect', function(data){
         socket.emit('remote');
      });
   
      socket.on("loading", function(data){
      });  
   
      function playVideo() {
         socket.emit('video',{action:"play", video_id:"2REkZG-dhHc"});
      }
      function pauseVideo() {
         socket.emit('video',{action:"pause"});
      }
      function quitVideo() {
         socket.emit('video',{action:"quit"});
      }

      function SearchController($scope) {

         $scope.searchYouTube = function() {
            var terms = $scope.searchText;
            socket.emit('search',{query:terms});
         }

      }

block content
   h1= title
   p Welcome to #{title} noob
   input#play(class='btn btn-primary' type='button', value='Play' onclick="playVideo();")
   input#pause(class='btn btn-primary' type='button', value='Pause' onclick="pauseVideo();")
   input#stop(class='btn btn-primary' type='button', value='Stop' onclick="quitVideo();")

   <hr>

   #search(ng-controller="SearchController")
      form(ng-submit="searchYouTube()")
         input(type="text" ng-model="searchText"  size="30" placeholder="Search YouTube for a vidsky")
         input(class="btn btn-primary" type="submit" value="DO IT")
