extends layout

block head
   script(src="/socket.io/socket.io.js")
   script.
      var socket = io.connect('http://raspy.local:9999');
   
      socket.on('connect', function(data){
         socket.emit('screen');
      });
   
      socket.on("loading", function(data){
      });  

block content
   h1= title
   p Welcome to #{title} noob
